# Dependencies
node_modules
dist
dist-ssr
.vercel
.vite

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env*.local

# Editor / OS
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Supabase
supabase/.branches
supabase/.temp
/reference

# Coverage
coverage

# TypeScript build metadata
*.tsbuildinfo
